<h2><%=  @board.name %></h2>
<% post=@posts %>
<% if post.empty? == false %>

	<p><% @posts.each do |post| %>

		<h4><%= link_to post.title, board_post_path(@board,post) %><h4>
		<h6><%= post.name %></h6>
		<h6><%= post.description %></h6>
		<h6><%= image_tag post.image_url %></h6>
	<% end %>
	</p>
<% else %>
	<p>Uh oh! No teachers have registered to teach this subject, yet.</p>
<% end %>

<%= link_to 'Add Post', new_board_post_path(@board) %> |

<%= link_to "Go Back to All Boards", boards_path %>