<h2><%=  @board.name %></h2>
<% post=@posts %>
<% if post.empty? == false %>

	<% @posts.each do |post| %>
			<div class="col-md-2">
		    	<p style="float: left;">
		    	<div class="box">
		    		<% if post.user.image_url == "" %>
	            		<%= image_tag(post.user.avatar.url(:thumb), size: "100x100", :class => "board_posts_img") %></p>
	            	<% else %>
	            		<%= image_tag(post.user.image_url, size: "100x100" , :class => "board_posts_img") %></p>
	            	<% end %>
		    	
				<h4><%= link_to post.title, board_post_path(@board,post) %></h4>
				<h6><%= post.name %></h6>
				<h6><%= post.description %></h6>
			
			</div>
		</div>
	<% end %>
	
<% else %>
	<p>Uh oh! No teachers have registered to teach this subject, yet.</p>
<% end %>


	<%= link_to 'Add Post', new_board_post_path(@board) %>
