


<div class="board-background-<%= @board.id %>">
<div class = "container">
	<h2><%=  @board.name %></h2>
		<% post=@posts %>
		<% if post.empty? == false %>
			<% @posts.each_with_index do |post, index| %>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-8">
			    	<p style="float: left;">
			    		<div class="box">
				    		<input class="toggle-box" id="identifier-<%= index %>" type="checkbox" >
				    			
								<label for="identifier-<%= index %>">
										<div><h3><%= post.title %></h3></div>
										<div class="post">
							    			<% if post.user.image_url == "" %>
						            			<div><%= image_tag(post.user.avatar.url(:thumb), size: "100x100", :class => "board_posts_img") %></div>
						            		<% else %>
						            			<div><%= image_tag(post.user.image_url, size: "100x100" , :class => "board_posts_img") %></div>
						            		<% end %>
				            		
							            	<div>
												<h6>Name of Instructor: <%= post.user.name %></h6>
												<h6>Description of Class: <%= post.description %></h6>
											</div>
										</div>
								</label>
								<div class="words">
									<p><%= post.user.phone_num %></p>
									<p><%= post.user.email %></p>
										<% if post.user == current_user %>
											<p><%= link_to 'Edit', edit_board_post_path(@board,post) %> | <%= link_to 'Delete' , board_post_path(@board,post),
												method: :delete,
												data: { confirm: 'Are you sure?' } %></p>
										<% end %>
								</div>

			    		</div>
			    			
						
					</p>
				</div>
			<% end %>
	<% else %>
		<p>Uh oh! No teachers have registered to teach this subject, yet.</p>
	<% end %>	
<div class="ahh">
	<h3><%= link_to 'Add Post', new_board_post_path(@board) %></h3>
</div>

<% if false %>
<div class = "container">
	<h2><%=  @board.name %></h2>
		<% post=@posts %>
		<% if post.empty? == false %>
			<% @posts.each do |post| %>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-8">
			    	<p style="float: left;">
			    		<div class="box">
			    			<div class="pic">
				    			<% if post.user.image_url == "" %>
			            			<p><%= image_tag(post.user.avatar.url(:thumb), size: "100x100", :class => "board_posts_img") %></p>
			            		<% else %>
			            			<p><%= image_tag(post.user.image_url, size: "100x100" , :class => "board_posts_img") %></p>
			            		<% end %>
		            		</div>
							<h4><%= link_to post.title, board_post_path(@board,post) %></h4>
							<h6><%= post.name %></h6>
							<h6><%= post.description %></h6>
						</div>
					</p>
				</div>
			<% end %>
</div>
	<% else %>
		<p>Uh oh! No teachers have registered to teach this subject, yet.</p>
	<% end %>	
<div class="ahh">
<%= link_to 'Add Post', new_board_post_path(@board) %>
</div>
<% end %>
</div>