<%= form_for [@board,@post] do |f| %>
	<h3>
		<%= f.label :topic_of_instruction %>
		<%= f.text_field :title, :placeholder => "ex. Calculus, Drawing, Soccer", :size => 30 %>
	</h3>

	<p>
		<%= f.label :Your_class %>
		<%= f.text_area :description, :placeholder => "Describe what you are interested in teaching." %>
	</p>

	<p>
		<%= f.submit %>
	</p>


<% end %>
